<aside>
    <div class="toggle">
        <div class="logo">
            <img src="/img/logo.png">
            <h2>Project-<span class="danger">CP</span>
            </h2>
        </div>
    </div>

    <div class="sidebar">

        <h4>คำร้อง</h4>
        <a href="/request-teacher" class="<%= locals.bar1  %>">
            <span class="material-icons-sharp">
                receipt_long
            </span>
            <h3>คำร้อง</h3>
            <% if (locals.c != '0') { %>
                <span class="message-count"><%= locals.c %></span>
            <% } %>
        </a>
        <a href="/docs-waiting" class="<%= locals.bar2  %>">
            <span class="material-icons-sharp">
                library_books
            </span>
            <h3>หนังสือขอความอนุเคราะห์</h3>
            <% if (locals.c2 != '0') { %>
                <span class="message-count"><%= locals.c2 %></span>
            <% } %>
        </a>
        <a href="/docs-accepted" class="<%= locals.bar3  %>">
            <span class="material-icons-sharp">
                inventory
            </span>
            <h3>หนังสือตอบรับ</h3>
            <% if (locals.c3 != '0') { %>
                <span class="message-count"><%= locals.c3 %></span>
            <% } %>
        </a>
        <a href="/docs-approve" class="<%= locals.bar4  %>">
            <span class="material-icons-sharp">
                content_paste_go
            </span>
            <h3>หนังสือส่งตัว</h3>
            <% if (locals.c4 != '0') { %>
                <span class="message-count"><%= locals.c4 %></span>
            <% } %>
        </a>
    
        <a href="/docs-certificate" class="<%= locals.bar5  %>">
            <span class="material-icons-sharp">
                task
            </span>
            <h3>เอกสารสำเร็จการฝึกงาน</h3>
            <% if (locals.c5 != '0') { %>
                <span class="message-count"><%= locals.c5 %></span>
            <% } %>
        </a>
        <a href="/requests-all-teacher" class="<%= locals.bar6  %>">
            <span class="material-icons-sharp">
                history
            </span>
            <h3>ประวัติการยื่นคำร้อง</h3>
        </a>
        <a href="/pass-status-requests" class="<%= locals.bar7  %>">
            <span class="material-icons-sharp">
                checklist
            </span>
            <h3>ตรวจสอบสถานะการฝึกงาน</h3>
        </a>
        <a href="/all-companys" class="<%= locals.bar8  %>">
            <span class="material-icons-sharp">
                apartment
            </span>
            <h3>สถานประกอบการฝึกงาน</h3>
        </a>

        <a href="/upload-docs" class="<%= locals.bar10  %>">
            <span class="material-icons-sharp">
                description
            </span>
            <h3>เอกสารที่เกี่ยวข้อง</h3>
        </a>
        <a href="/upload-news" class="<%= locals.bar11  %>">
            <span class="material-icons-sharp">
                newspaper
            </span>
            <h3>อัพโหลดข่าวสารและกำหนดการ</h3>
        </a>
        <% if (locals.user=="admin" ) { %>
            <a href="/account" class="<%= locals.bar12  %>">
                <span class="material-icons-sharp">
                    newspaper
                </span>
                <h3>จักการผู้ใช้</h3>
            </a>
        <% } %>
        <a href="/logout">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>