<div class="status">
    <h3>Status</h3>

    <details class="details" onclick="adjustNextElementPosition(this)">
        <summary>
            <h2>สถานประกอบการ-หน่วยงาน</h2>
            <span class="material-icons-sharp">mark_email_unread</span>
            <span class="material-icons-sharp">check_circle</span>
        </summary>
        <div class="details-status">
            <p>ชื่อผู้ดำเนินการ</p>
            <p class="editor"><%= data.editor %></p>
            <p>เมื่อ <%= data.update_status_at.toLocaleString() %> </p>
            <p class="bold">comment</p>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis, maiores minus
                    fugiat autem recusandae voluptas ipsa repudiandae officiis quis?</p>
            </div>
        </div>
    </details>

    <details class="details" onclick="adjustNextElementPosition(this)">
        <summary>
            <h2>เอกสารยื่นคำร้อง</h2>
            <span class="material-icons-sharp">mark_email_unread</span>
            <span class="material-icons-sharp">check_circle</span>
        </summary>
        <div class="details-status">
            <p>ชื่อผู้ดำเนินการ</p>
            <p class="editor"><%= data.editor %></p>
            <p>ดำเนินการเมื่อ วันที่ เวลา</p>
            <p class="bold">comment</p>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis, maiores minus
                    fugiat autem recusandae voluptas ipsa repudiandae officiis quis?</p>
            </div>
        </div>
    </details>

    <details class="details" onclick="adjustNextElementPosition(this)">
        <summary>
            <h2>ส่งเอกสารมอบตัว</h2>
            <span class="material-icons-sharp">mark_email_unread</span>
            <span class="material-icons-sharp">check_circle</span>
        </summary>
        <div class="details-status">
            <p>ชื่อผู้ดำเนินการ</p>
            <p class="editor"><%= data.editor %></p>
            <p>ดำเนินการเมื่อ วันที่ เวลา</p>
            <p class="bold">comment</p>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis, maiores minus
                    fugiat autem recusandae voluptas ipsa repudiandae officiis quis?</p>
            </div>
        </div>
    </details>

    <details class="details" onclick="adjustNextElementPosition(this)">
        <summary>
            <h2>สถานที่ฝึกงานตอบรับกลับ</h2>
            <span class="material-icons-sharp">mark_email_unread</span>
            <span class="material-icons-sharp">check_circle</span>
        </summary>
        <div class="details-status">
            <p>ชื่อผู้ดำเนินการ</p>
            <p class="editor"><%= data.editor %></p>
            <p>ดำเนินการเมื่อ วันที่ เวลา</p>
            <p class="bold">comment</p>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis, maiores minus
                    fugiat autem recusandae voluptas ipsa repudiandae officiis quis?</p>
            </div>
        </div>
    </details>

    <details class="details" onclick="adjustNextElementPosition(this)">
        <summary>
            <h2>ตรวจสอบสำเร็จการฝึกงาน</h2>
            <span class="material-icons-sharp">mark_email_unread</span>
            <span class="material-icons-sharp">check_circle</span>
        </summary>
        <div class="details-status">
            <p>ชื่อผู้ดำเนินการ</p>
            <p class="editor"><%= data.editor %></p>
            <p>ดำเนินการเมื่อ วันที่ เวลา</p>
            <p class="bold">comment</p>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis, maiores minus
                    fugiat autem recusandae voluptas ipsa repudiandae officiis quis?</p>
            </div>
        </div>
        <div class="summit"></div>

    </details>
</div>