<main>
    <div class="main">
        <div class="header-main">
            <h2>สถานประกอบการ-หน่วยงานที่เคยรับนักศึกษาฝึกงาน</h2>
            <div class="sort">
                <select id="sort" onchange="handleSortChange(this)">
                    <option disabled value="0">จัดเรียงตาม</option>
                    <% if (sort == '1') { %>
                        <option selected value="1">ชื่อ</option>
                    <% } else { %>
                        <option value="1">ชื่อ</option>
                    <% } %>
                    <% if (sort == '2') { %>
                        <option selected value="2">จังหวัด</option>
                    <% } else { %>
                        <option value="2">จังหวัด</option>
                    <% } %>
                </select>
            </div>

            <div class="search">
                <input type="text" placeholder="ค้นหา" id="searching" oninput="filterTable()">
            </div>
        </div>
        <div class="table">
            <table class="styled-table" id="styled-table">
                <thead>
                    <tr>
                        <th>บริษัท/หน่วยงาน</th>
                        <th>เบอร์โทร บริษัท/หน่วยงาน</th>
                        <!-- <th>ประเภทธุรกิจ</th> -->
                        <th class="on-left">จังหวัด</th>
                        <th>ตำแหน่งที่เคยรับ</th>
                        <th>จำนวนคนที่ฝึก</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% var ojb = all_companies.sort((a, b) => a.name.localeCompare(b.name)) %>
                    <% if (sort == 2) { %>
                        <% ojb = all_companies.sort((a, b) => a.province.localeCompare(b.province)) %>
                    <% } %>
                    <% ojb.forEach((element,index) => { %>
                        <tr>
                           <td><%= element.name %></td>
                           <td><%= element.tel %></td>
                           <!-- <td>บัญชี / ผู้ตรวจบัญชี</td> -->
                           <td class="on-left"><%= element.province %></td>
                           <td class="position2">
                               
                               <% if (all_position[index]) { %>
                                   <% all_position[index].forEach(element2 => { %>
                                   <div class="backend">
                                   <%= element2 %>
                                   </div>
                                   <% }) %>
                               <% } %>
                               
                           </td>
                           <td><%= intern.filter(value => value === element._id.toString()).length %></td>
                       </tr>
                       <% }) %>
                </tbody>
            </table>
        </div>
        <div class="paginator">

            <% for( let index=1; index <=all_pages2; index++ ) { %>
                <% if (index==current2) { %>
                    <a href="?page2=<%= index %>" class="current-page">
                        <%= index %>
                    </a>
                    <% } else { %>
                        <a href="?page2=<%= index %>">
                            <%= index %>
                        </a>
                        <% } %>
                            <% } %>
            
                    </div>


    </div>
</main>