<main>
    <div class="main">
        <div class="title-header">
            <h2>เอกสารที่เกี่ยวข้อง</h2>
        </div>
        
        <div class="document-section">
            <div class="documents">
                
                <% data.forEach((docs,index)=> { %>
                 <div class="card-document">
                        <h2><%= docs.title %></h2>
                        
                    <h3>
                        <%= docs.details %>
                    </h3>
                    <div class="downlaod">
                        <a href="/uploads/<%= docs.downloadDoc %>" target="_blank" name="test">
                            downlaod
                        </a>
                    </div>
                    <div class="date-upload"><%= docs.createdAt.getDate() %> -
                        <%= docs.createdAt.getMonth()+1 %> -
                            <%= docs.createdAt.getFullYear() %></div>
                </div>
                <% }) %>
        
                <!-- <div class="card-document">
                    <div class="card-document-header">
                        <h2>ผลระเมินการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp edit-btn" name="0" id="edit-doc0">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <a>ดาวน์โหลด</a>

                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div> -->
            </div>

        </div>
    </div>
</main>