<main>
    <div class="main">
        <div class="title-header">
            <h2>เอกสารที่เกี่ยวข้อง</h2>
        </div>
        
        <div class="document-section">
            <div class="documents">
                
                <% data.forEach((docs,index)=> { %>
                 <div class="card-document">
                        <h2><%= docs.title %></h2>
                        
                    <h3>
                        <%= docs.details %>
                    </h3>
                    <div class="downlaod">
                        <a href="/uploads/<%= docs.downloadDoc %>" target="_blank" name="test">
                            downlaod
                        </a>
                    </div>
                    <div class="date-upload"><%= docs.createdAt.getDate() %> -
                        <%= docs.createdAt.getMonth()+1 %> -
                            <%= docs.createdAt.getFullYear() %></div>
                </div>
                <% }) %>

            </div>

        </div>
    </div>
</main>