<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.core.js"></script>
    <link rel="stylesheet" href="<%= locals.styles  %>">
    <meta name="description" content="<%= locals.description  %>">
</head>
<body>
    <% if (locals.content == '../layouts/register.ejs' || locals.content == '../layouts/login.ejs' || locals.content == '../layouts/approval-docs.ejs') { %>
        <%- include(locals.content)  %>
        <% } else { %>
         <div class="container show-bar" id="left-bar">
        <% if (locals.user=="student" ) { %>
            <%- include("../partials/sidebar-student.ejs") %>
                <% } else if (locals.user=="teacher" ) { %>
                    <%- include("../partials/sidebar-teacher.ejs") %>
                        <% } %>

                            <%- include('../partials/header.ejs') %>

                            <!-- Main -->
                            <%- include(locals.content)  %>
                            <!-- Ending Main -->
                                
    </div>
    <% } %>
    
    <% if (locals.search) { %>
        <script src="<%= locals.search  %>"></script>
    <% } %>
    <script src="<%= locals.js  %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
    modules: {
        toolbar: [
            [{ 'header': [1, 2, false] }],
            ['bold', 'italic', 'underline', 'strike'],
            ['image', 'code-block'],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            ['clean']
        ],
        imageResize: {
            displaySize: true,  // Show the display size of the image
            handleStyles: {
                backgroundColor: 'black',
                border: 'none',
                color: 'white',
                position: 'absolute',
                right: '0',
                bottom: '0',
                boxSizing: 'border-box',
            },
        },
    },
});
      </script>
</body>
</html>