<!-- MODAL -->
<div class="modal-back close" id="modal-back">
</div>
<div class="modal close" id="modal">
    <div class="modal-box">
        <h2>เลือก</h2>
        <div class="menu">
            <a href="request/form">ยื่นคำร้อง</a>
        </div>
        <div class="menu">
            <a href="request-requirment-temp.html">ยื่นเอกสารสำเร็จการศึกษา</a>
        </div>
    </div>
</div>
<!-- END MODAL -->
<main>
    <div class="main">
        <div class="add-request">
            <div class="boder-add-request" id="boder-add-request">
                <span class="material-icons-sharp">add_circle</span>
                <% if (!loggedIn) { %>
                 <a>ยื่นคำร้อง</a>
                <% } %>
                <a>ยื่นคำร้อง</a>
            </div>
        </div>
        <!-- <% if (loggedIn!=null) { %>
            <a href="/user/logout"><%= loggedIn %>true</a>
        <% } %> -->
        <h2>คำร้องล่าสุด</h2>
        <div class="request-section">
            <% if (data!=null) { %>
             
            <% data.forEach((element,index) => { %>
                <a href="/request-status">
                    <div class="card-request">
                <div class="request-details">
                    <h2>ยื่นคำร้องขอฝึกงาน</h2>
                    <div class="details-section">
                        <div class="comp">
                            <h3>บริษัท</h3>
                            <h3 class="namecomp"><%= element.company_info.company.name %><%= element.company_info.company.name %></h3> 
                        </div>
                        <div class="pos">
                            <h3>ตำแหน่ง</h3>
                            <h3><%= element.company_info.position %></h3>
                        </div>
                        <div>
                            <h3>วันที่ยื่นคำร้อง</h3>
                            <h3><%= element.company_info.start_intern.getDate() %>-
                                <%= element.company_info.start_intern.getMonth()+1 %>-
                                    <%= element.company_info.start_intern.getFullYear() %></h3>
                            <h3>ดำเนินการล่าสุด</h3>
                            <h3><%= element.company_info.end_intern.getDate() %>-
                                <%= element.company_info.end_intern.getMonth()+1 %>-
                                    <%= element.company_info.end_intern.getFullYear() %></h3>
                        </div>
                        <div>
                            <h3>ความคืบหน้า</h3>
                            <div class="block-status">
                                <div class="block <%= status[index][0] %>"></div>
                                <div class="block <%= status[index][1] %>"></div>
                                <div class="block <%= status[index][2] %>"></div>
                                <div class="block <%= status[index][3] %>"></div>
                                <div class="block <%= status[index][4] %>"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="request-doc">
                    <% if (status[index][4] == 'status-pass') { %>
                        <div class="request-status successed">
                            <span class="material-icons-sharp">
                                check_circle
                            </span>
                    <% } else if (status[index][3] == 'status-pass' && element.certificate_info.status != '2') { %>
                        <div class="request-status cp">
                            <span class="material-icons-sharp">
                                hourglass_empty
                            </span>
                    <% } else if(status[index].includes('2')) { %>
                        <div class="request-status fail">
                            <span class="material-icons-sharp">
                                cancel
                            </span>
                    <% } else if(element.certificate_info.status == '2') { %>
                        <div class="request-status fail">
                            <span class="material-icons-sharp">
                                cancel
                            </span>
                    <% } else { %>
                        <div class="request-status waiting">
                            <span class="material-icons-sharp">
                                hourglass_empty
                            </span>
                    <% } %>

                        <h3>
                            <% if (status[index][4] == 'status-pass') { %>
                                สำเร็จการฝึกงาน
                            <% } else if (status[index][3] == 'status-pass' && element.certificate_info.status != '2') { %>
                                รอส่งเอกสารสำเร็จฝึกงาน
                            <% } else if(status[index].includes('2')) { %>
                                คำร้องไม่ผ่าน
                            <% } else if(element.certificate_info.status == '2') { %>
                                ไม่ผ่านการฝึกงาน
                            <% } else { %>
                                รอดำเนินการ
                            <% } %>
                            </h3>
                    </div>
                </div>
            </div>
                </a>
             
            <% }) %>
            
            <% } %>

            <% if (data==null) { %>
                <div class="empty">
                    <h2>ไม่มีประวัติคำร้อง</h2>
                </div>
            <% } %>


        </div>
    </div>
</main>