<% if (locals.status) { %>
<main>
    <div class="request-info">
        <div class="topic">
            <h2>ข้อมูลนักศึกษา</h2>
        </div>
        <div class="contents">
            <div class="images-content">
                <div class="images-area">
                    <div class="images-add">
                        <a>เพิ่มรูปภาพ</a>
                    </div>
                </div>
            </div>
            <div class="infomation">
                <div class="datas">
                    <a>ชื่อ-นามสกุล</a>
                    <input type="text" placeholder="ชื่อ-นามสกุล" value="<%= data.name %>">
                </div>
                <div class="datas">
                    <a>รหัสประจำตัว</a>
                    <input type="text" placeholder="รหัสประจำตัว" value="<%= data.student_code %>">
                </div>
                <div class="datas">
                    <a>ระดับการศึกษา</a>
                    <input type="text" placeholder="ระดับการศึกษา" value="ปริญญาตรี ชั้นปีที่ <%= data.education %>">
                </div>
                <div class="datas">
                    <a>คณะ</a>
                    <input type="text" placeholder="คณะ" value="วิทยาลัยการคอมพิวเตอร์">
                </div>
                <div class="datas">
                    <a>สาขาวิชา</a>
                    <input type="text" placeholder="สาขาวิชา" value="<%= data.factory %>">
                </div>
                <div class="datas">
                    <a>เกรดเฉลี่ยสะสม</a>
                    <input type="text" placeholder="เกรดเฉลี่ยสะสม" value="<%= data.grade.toFixed(2) %>">
                </div>
                <div class="datas">
                    <a>อีเมล</a>
                    <input type="text" placeholder="อีเมล" value="<%= data.email %>">
                </div>
                <div class="datas">
                    <a>หมายเลขโทรศัพท์</a>
                    <input type="text" placeholder="หมายเลขโทรศัพท์" value="<%= data.phone %>">
                </div>
            </div>
        </div>
    </div>
    <div class="request-doc">
        <div class="topic">
            <h2>ยื่นคำร้องขอฝึกงาน</h2>
        </div>
        <div class="info-details">
            <h3>เมื่อนักศึกษาส่งเอกสารยื่นคำร้องขอฝึกงานสำเร็จ ระบบทำการส่งเอกสารให้ทางวิทยาลัยอนุมัติ</h3>
        </div>
        <div class="info-warning">
            <h3>การยื่นของฝึกงาน สามารถยื่นได้ครั้งละ 1 สถานประกอบการ </h3>
            <h3>เมื่อถูกปฎิเสธจึงสามามรถยื่นสถานประกอบการใหม่ได้ ห้ามยื่นเอกสารขอฝึกงานพร้อมกันมากกว่า 1
                สถานประกอบการ</h3>
        </div>

        <div class="topic">
            <h2>รายละเอียดบริษัท/หน่วยงาน</h2>
        </div>

        <div class="info-intern">
            <div class="uploads-content">
                <a href="">ชื่อสถาที่ฝึกงาน</a>
                <div class="border-input">
                    <input type="text" value="<%= company.company_name %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">ตำแหน่ง</a>
                <div class="border-input">
                    <input type="text" value="<%= company.position %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">โปรดระบุด้วยว่าหนังสือเรียนถึงใคร</a>
                <div class="border-input">
                    <input type="text"
                    value="<%= company.receiver_name %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">ชื่อผู้ประสานงาน</a>
                <div class="border-input">
                    <input type="text" value="<%= company.mentor %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">บริษัท/หน่วยงานเกี่ยวข้องกับด้านใด</a>
                <div class="border-input">
                    <input type="text" value="<%= company.type_business %>">
                </div>
            </div>

        </div>
        <div class="topic">
            <h2 class="sub-txt">ที่อยู่บริษัท/หน่วยงาน</h2>
        </div>
        <div class="info-address">
            <div class="uploads-content">
                <a href="">ที่อยู่</a>
                <div class="border-input">
                    <input type="text"  value="<%= addres.location %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">บริษัท/หน่วยงาน</a>
                <div class="border-input">
                    <input type="text" value="<%= company.company_name %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">ตำบล</a>
                <div class="border-input">
                    <input type="text" value="<%= addres.sub_district %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">อำเภอ</a>
                <div class="border-input">
                    <input type="text" value="<%= addres.district %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">จังหวัด</a>
                <div class="border-input">
                    <input type="text" value="<%= addres.province %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">รหัสไปรษณีย์</a>
                <div class="border-input">
                    <input type="text" value="<%= addres.code %>">
                </div>
            </div>
        </div>
        <div class="topic">
            <h2 class="sub-txt">เบอร์โทรศัพท์</h2>
        </div>

        <div class="info-phone">
            <div class="uploads-content">
                <a href="">ผู้ประสานงาน/พี่เลี้ยง</a>
                <div class="border-input">
                    <input type="text"  value="<%= company.mentor %>">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">บริษัท/หน่วยงาน</a>
                <div class="border-input">
                    <input type="text" value="<%= company.company_name %>">
                </div>
            </div>
        </div>

        <div class="topic2">
            <h2 class="sub-txt">กําหนดการส่งเอกสารของทางบริษัท/หน่วยงาน</h2>
            <h2 class="sub-txt">สิทธิการรักษาพยาบาล/บัตรทอง</h2>
        </div>

        <div class="send-date">
            <div class="uploads-content">
                <div class="border-input">
                    <input type="date" value="<%= company.submission_date %>">
                </div>
            </div>

            <div class="uploads-content">
                <div class="border-input">
                    <input type="text" value="<%= data.health_coverage %>">
                </div>
            </div>
        </div>

        <div class="topic">
            <h2>upload document</h2>
        </div>
        <div class="uploads-section">
            <div class="uploads-content">
                <a href="">เอกสารยื่นใบฝึกงาน</a>
                <div class="border-uploads">
                    <input type="file">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">หนังสือยินยอมผู้ปกครอง</a>
                <div class="border-uploads">
                    <input type="file">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">resume นักศึกษา</a>
                <div class="border-uploads">
                    <input type="file">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">เอกสารตอบรับ จากบริษัท (กรณีนักศึกษารับมาเอง)</a>
                <div class="border-uploads">
                    <input type="file">
                </div>
            </div>
            <div class="uploads-content">
                <a href="">รูปแบบการฝึกงาน</a>
                <div class="border-uploads">
                    <select>
                        <option selected value="0">รูปแบบการฝึกงาน</option>
                        <option value="1">Onsite</option>
                        <option value="2">Work form home</option>
                        <option value="3">Hybrid</option>
                    </select>
                </div>
            </div>
            <div class="uploads-content">
                <a href="">transcript</a>
                <div class="border-uploads">
                    <input type="file">
                </div>
            </div>
        </div>


    </div>
    <!-- <div class="submit">
        <button type="submit">Send</button>
    </div> -->
</main>
<%- include('../partials/statusbar.ejs') %>
<% } else { %>
 <main>
    <h2 style="margin: 0 auto;color: gray;">you don't have any request for internship</h2>
 </main>
<% } %>

