<div class="modal-back close" id="modal-back">
</div>
<div class="modal close" id="modal">
    <div class="modal-box">
        <div class="request-doc" id="request-doc">
                <div class="topic header-main">
                    <h2>รายชื่อตำแหน่ง</h2>
                    <div class="search">
                        <input type="text" placeholder="ค้นหา" id="searching" oninput="filterTable()">
                    </div>


                </div>
                <div class="table">
                    <table class="styled-table" id="styled-table">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th class="midle">ชื่อ</th>
                                <th>จังหวัด</th>
                                <th></th>
                            </tr>
                            <% if (data.length == 0) { %>
                                <tr class="no-data">
                                   <th colspan="8">
                                       ไม่มีข้อมูล
                                   </th>
                               </tr>
                               <% } %>
                            <tr class="no-data close" id="search-not-found">
                                <th colspan="8">
                                    ไม่มีข้อมูล
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach((company,index) => { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td class="position midle">
                                    <div class="backend">
                                        <h3 class="company-name"><%= company.name %></h3>
                                    </div>
                                </td>
                                <td class="province" ><%= company.province %></td>
                                <td class="address close"><%= company.address %></td>
                                <td class="district close"><%= company.district %></td>
                                <td class="subdistrict close"><%= company.subdistrict %></td>
                                <td class="provinceID close"><%= company.provinceID %></td>
                                <td class="tel close"><%= company.tel %></td>
                                <td class="type_business close"><%= company.type_business %></td>
                                <td>
                                    <div class="more-details add-btn pick">
                                        <p>เลือก</p>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>
                </div>
                <div class="paginator">
                    <% for (let index = 1; index <= all_pages; index++) { %>
                        <% if (index == current) { %>
                            <a href="/all-companys?page=<%= index %>" class="current-page">
                                <%= index %>
                            </a>
                        <% } else { %>
                            <a href="/all-companys?page=<%= index %>">
                                <%= index %>
                            </a>
                        <% } %>
                    <% } %>
                </div>
        </div>
    </div>
</div>
<main>
    <form action="/uploadRequest" method="post" name="request" enctype="multipart/form-data">
        <div class="request-info">
            <div class="topic">
                <h2>ข้อมูลนักศึกษา</h2>
            </div>
            <div class="contents">
                <div class="images-content">
                    <div class="images-area">
                        <div class="images-add">
                            <input type="file" name="file" accept=".png, .jpeg, .jpg" title="เพิ่มรูปภาพ" required>
                        </div>
                        
                        <p>( png , jpg , jpeg )</p>
                    </div>
                </div>
                <div class="infomation">
                    <div class="datas">
                        <a>ชื่อ-นามสกุล</a>
                        <input type="text" placeholder="ชื่อ-นามสกุล" value="<%= info.name %>" name="fullname" oninput="checkInput(this)"
                            required>
                        <p id="fullnameError"></p>
                    </div>
                    <div class="datas">
                        <a>รหัสประจำตัว</a>
                        <input type="text" placeholder="รหัสประจำตัว" value="<%= info.student_code %>"  name="std_id" oninput="formatID(this)"
                            maxlength="11" required>
                        <p id="std_idError"></p>
                    </div>
                    <div class="datas">
                        <a>ปริญาตรี</a>
                        <!-- <input type="text" placeholder="ระดับการศึกษา" name="lv"> -->
                        <div class="border-uploads">
                            <select name="lv" required>
                                <option disabled selected value="">เลือกชั้นปี</option>
                                <option value="1">ชั้นปีที่ 1</option>
                                <option value="2">ชั้นปีที่ 2</option>
                                <option value="3">ชั้นปีที่ 3</option>
                                <option value="4">ชั้นปีที่ 4</option>
                            </select>
                        </div>
                        <p></p>
                    </div>
                    <div class="datas">
                        <a>คณะ</a>
                        <!-- <input type="text" placeholder="คณะ" name="factory"> -->
                        <div class="border-uploads">
                            <select name="factory" required>
                                <option disabled value="">คณะ</option>
                                <option value="1" selected>วิทยาลัยการคอมพิวเตอร์</option>
                            </select>
                        </div>
                        <p></p>
                    </div>
                    <div class="datas">
                        <a>สาขาวิชา</a>
                        <!-- <input type="text" placeholder="สาขาวิชา" name="department"> -->
                        <div class="border-uploads">
                            <select name="department" required>
                                <option disabled selected value="">สาขาวิชา</option>
                                <option value="1" >วิทยาลัยการคอมพิวเตอร์ ภาคปกติ</option>
                                <option value="2" >วิทยาลัยการคอมพิวเตอร์ ภาคพิเศษ</option>
                            </select>
                        </div>
                        <p></p>
                    </div>
                    <div class="datas">
                        <a>เกรดเฉลี่ยสะสม</a>
                        <input type="text" placeholder="เกรดเฉลี่ยสะสม" name="gpa" oninput="formatGPA(this)"
                            maxlength="4" required>
                        <p></p>
                    </div>
                    <div class="datas">
                        <a>อีเมล</a>
                        <input type="email" placeholder="อีเมล" value="<%= info.email %>" name="email" required>
                        <p></p>
                    </div>
                    <div class="datas">
                        <a>เบอร์โทรศัพท์</a>
                        <input type="text" placeholder="เบอร์โทรศัพท์" name="tel" oninput="formatTEL(this)"
                            maxlength="11" required>
                        <p id="telError"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="request-doc">
            <div class="topic">
                <h2>ยื่นคำร้องขอฝึกงาน</h2>
            </div>
            <div class="info-details">
                <h3>เมื่อนักศึกษาส่งเอกสารยื่นคำร้องขอฝึกงานสำเร็จ ระบบทำการส่งเอกสารให้ทางวิทยาลัยอนุมัติ</h3>
            </div>
            <div class="info-warning">
                <h3>การยื่นของฝึกงาน สามารถยื่นได้ครั้งละ 1 สถานประกอบการ </h3>
                <h3>เมื่อถูกปฎิเสธจึงสามามรถยื่นสถานประกอบการใหม่ได้ ห้ามยื่นเอกสารขอฝึกงานพร้อมกันมากกว่า 1
                    สถานประกอบการ</h3>
            </div>

            <div class="topic">
                <h2>รายละเอียดสถานประกอบการ</h2>
            </div>

            <div class="info-intern">
                <div class="uploads-content">
                    <a>ชื่อสถานที่ฝึกงาน <span></span></a>
                    <div class="border-input2 finder">
                        <input class="close" type="text" name="found" id="found">
                        <input class="find close" placeholder="กรอกชื่อสถานที่ฝึกงาน" id="find" type="text" name="location" required>
                        <a class="search" id="search">ค้นหา<span class="material-icons-sharp">search</span></a>
                        <a class="search" id="new-company">เพิ่ม<span class="material-icons-sharp">add</span></a>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>ตำแหน่ง <span></span></a>
                    <div class="border-input">
                        <!-- <input type="text" name="position" required> -->
                        <select name="position" required>
                            <option disabled selected value="">เลือกตำแหน่ง</option>
                            <% posit.forEach(element => { %>
                             <option value="<%= element.name.toLowerCase() %>"><%= element.name.toLowerCase() %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>ผู้ประสานงาน (โปรดระบุด้วยว่าหนังสือเรียนถึงใคร) <span></span></a>
                    <div class="border-input">
                        <input type="text" name="receiver" class="over-flow"
                            placeholder="(เช่น ผู้อํานวยการ......, ผู้จัดการ..., หัวหน้าส่วน เป็นต้น)" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>เบอร์โทรศัพท์ <span></span></a>
                    <div class="border-input">
                        <input id="tel2" type="text" name="company_tel" oninput="formatTEL2(this)" maxlength="11" required>
                    </div>
                </div>

                <div class="uploads-content">
                    <a>สถานประกอบการเกี่ยวข้องกับด้านใด <span></span></a>
                    <div class="border-input">
                        <input id="type_business2" type="text" name="aboutcompany" class="over-flow" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>ช่วงเวลาที่ฝึกงาน <span></span></a>
                    <div class="border-input2">
                        <input type="date" name="start_intern" required>
                        <h2>ถึง</h2>
                        <input type="date" name="end_intern" required>
                    </div>
                </div>
            </div>
            <div class="topic">
                <h2 class="sub-txt">ที่อยู่สถานประกอบการ</h2>
            </div>
            <div class="info-address">
                <div class="uploads-content">
                    <a>ที่อยู่ <span></span></a>
                    <div class="border-input">
                        <input class="over-flow" id="address2" type="text" name="address" placeholder="บ้านเลขที่... , อาคาร... , ซอย... , ถนน..."
                            required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>สถานประกอบการ <span></span></a>
                    <div class="border-input">
                        <input id="company-name2" type="text" name="companyname" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>ตำบล/แขวง <span></span></a>
                    <div class="border-input">
                        <input id="subdistrict2" type="text" name="subdistrict" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>อำเภอ/เขต <span></span></a>
                    <div class="border-input">
                        <input id="district2" type="text" name="district" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>จังหวัด <span></span></a>
                    <div class="border-input">
                        <input id="province2" type="text" name="province" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>รหัสไปรษณีย์ <span></span></a>
                    <div class="border-input">
                        <input id="provinceID2" type="text" name="code" maxlength="5" oninput="ProvinceCode(this)" required>
                    </div>
                </div>
            </div>
            <div class="topic">
                <h2 class="sub-txt">ผู้ประสานงาน/พี่เลี้ยง</h2>
            </div>

            <div class="info-phone">
                <div class="uploads-content">
                    <a>ชื่อ ผู้ประสานงาน/พี่เลี้ยง <span></span></a>
                    <div class="border-input">
                        <input type="text" name="coordinator">
                    </div>
                </div>
                <div class="uploads-content">
                    <a>เบอร์โทรศัพท์ <span></span></a>
                    <div class="border-input">
                        <input type="text" name="coordinator_tel" oninput="formatTEL2(this)" maxlength="11" >
                    </div>
                </div>
            </div>

            <div class="topic2">
                <h2 class="sub-txt">กําหนดการส่งเอกสารของทางสถานประกอบการ <span></span></h2>
                <h2 class="sub-txt">สิทธิการรักษาพยาบาล/บัตรทอง <span></span></h2>
            </div>

            <div class="send-date">
                <div class="uploads-content">
                    <div class="border-input">
                        <input type="date" name="submission_date">
                    </div>
                </div>

                <div class="uploads-content">
                    <div class="border-input">
                        <input type="text" placeholder="ชื่อโรงพยาบาล" name="medical_rights" required>
                    </div>
                </div>
            </div>

            <div class="topic">
                <h2>อัปโหลดดเอกสาร </h2><pre>  </pre><p>  (เฉพาะไฟล์ pdf, png, jpeg )</p>
            </div>
            <div class="uploads-section">
                <div class="uploads-content">
                    <a>เอกสารยื่นคำร้องขอฝึกงาน <span></span></a>
                    <div class="border-uploads">
                        <input type="file" accept=".pdf, .jpg, .jpeg" name="file" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>หนังสือยินยอมผู้ปกครอง <span></span></a>
                    <div class="border-uploads">
                        <input type="file" accept=".pdf, .jpg, .jpeg" name="file" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>resume นักศึกษา <span></span></a>
                    <div class="border-uploads">
                        <input type="file" accept=".pdf, .jpg, .jpeg" name="file" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>transcript <span></span></a>
                    <div class="border-uploads">
                        <input type="file" accept=".pdf, .jpg, .jpeg" name="file" required>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>รูปแบบการฝึกงาน <span></span></a>
                    <div class="border-uploads">
                        <select name="working_style" required>
                            <option disabled selected value="">รูปแบบการฝึกงาน</option>
                            <option value="1">Onsite</option>
                            <option value="2">Work form home</option>
                            <option value="3">Hybrid</option>
                        </select>
                    </div>
                </div>
                <div class="uploads-content">
                    <a>หนังสือขอความอนุเคราะห์จากบริษัท (ทั้งนี้ วิธีการส่งอยู่ในดุลยพินิจ ตามความเหมาะสม)
                        <span></span></a>
                    <div class="border-uploads">
                        <select name="acceptance" required>
                            <option disabled selected value="">เลือกวิธีส่งเอกสาร</option>
                            <option value="1">มารับเอง</option>
                            <option value="2">ให้เจ้าหน้าที่ส่งตามที่อยู่</option>
                        </select>
                    </div>
                </div>

            </div>


        </div>
        <div class="submit">
            <button type="submit">ส่ง</button>
        </div>

    </form>
</main>
