
<div class="modal-back bg <%= modal_bg1 %>" id="modal-back">
</div>

<div class="modal-back <%= modal_bg2 %>" id="modal-back2">
</div>
<div class="modal-back <%= alert %>" id="modal-alert">
</div>
<form action="/all-companys/add/company" method="post" name="request">
    <div class="modal <%= modal1 %>" id="modal">
    <div class="modal-box">
        <div class="request-doc" id="request-doc">
            <div class="topic">
                <h2>เพิ่มสถานประกอบการ</h2>
            </div>
            <div class="info-intern">
                <div class="uploads-content">
                    <a >ชื่อสถานที่ฝึกงาน</a>
                    <div class="border-input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >เบอร์โทรศัพท์</a>
                    <div class="border-input">
                        <input type="text" name="tel" oninput="formatTEL(this)" maxlength="11">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >สถานประกอบการเกี่ยวข้องกับด้านใด</a>
                    <div class="border-input">
                        <input type="text" name="type_business">
                    </div>
                </div>
            </div>
            <div class="topic">
                <h2 class="sub-txt">ที่อยู่สถานประกอบการ</h2>
            </div>
            <div class="info-address">
                <div class="uploads-content">
                    <a >ที่อยู่</a>
                    <div class="border-input">
                        <input type="text" name="address">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >ตำบล/แขวง</a>
                    <div class="border-input">
                        <input type="text" name="subdistrict">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >อำเภอ/เขต</a>
                    <div class="border-input">
                        <input type="text" name="district">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >จังหวัด</a>
                    <div class="border-input">
                        <input type="text" name="province">
                    </div>
                </div>
                <div class="uploads-content">
                    <a >รหัสไปรษณีย์</a>
                    <div class="border-input">
                        <input type="text" maxlength="5" oninput="ProvinceCode(this)" name="provinceID">
                    </div>
                </div>
            </div>

            <div class="approved">
                <div class="comment close">
                    ความคิดเห็น
                    <textarea name="comment" id="" cols="30"></textarea>
                </div>
                <div class="status close">
                    <div class="border-status">
                        <select name="status" required>
                            <option selected value="1">ผ่าน</option>
                            <option value="2">ไม่ผ่าน</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="submit">
                <button type="submit">เพิ่ม</button>
            </div>

        </div>

    </div>
</div>
</form>

<div class="modal <%= modal2 %>" id="modal2">
    <div class="modal-box">
        <div class="request-doc" id="request-doc">
            <form action="/all-companys/add" method="post" name="request">
                <div class="topic header-main">
                    <h2>รายชื่อตำแหน่ง</h2>
                    <div class="search">
                        <input type="text" placeholder="ค้นหา" id="searching2" oninput="filterTable2()">
                    </div>
                    <div class="add-btn add-position" id="add-position">
                        <a>เพิ่มตำแหน่ง</a>
                        <span class="material-icons-sharp">
                            group_add
                        </span>
                    </div>

                </div>
                <div class="table">
                    <table class="styled-table" id="styled-table2">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>
                                <th></th>
                            </tr>
                            <% if (data.length == 0) { %>
                                <tr class="no-data">
                                   <th colspan="8">
                                       ไม่มีข้อมูล
                                   </th>
                               </tr>
                               <% } %>
                            <tr class="no-data close" id="search-not-found2">
                                <th colspan="8">
                                    ไม่มีข้อมูล
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach((position,index) => { %>
                                <tr>
                                    <td><%= (index+1)+((current-1)*10) %></td>
                                    <td class="position">
                                        <div class="backend">
                                            <%= position.name %>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td><div class="more-details">
                                        <a href="/all-companys/delete/<%= position._id %>">ลบ</a>
                                    </div></td>
                                </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </form>
            <div class="paginator">
                <% for (let index = 1; index <= all_pages; index++) { %>
                    <% if (index == current) { %>
                        <a href="/all-companys?page=<%= index %>" class="current-page">
                            <%= index %>
                        </a>
                    <% } else { %>
                        <a href="/all-companys?page=<%= index %>">
                            <%= index %>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="modal <%= modal3 %>" id="modal3">
    <div class="modal-box">
        <form action="/all-companys/add" method="post" name="request" enctype="/submit-table">
            <div class="request-doc" id="request-doc">
                <div class="topic">
                    <h2>เพิ่มรายชื่อตำแหน่ง</h2>
                </div>
                <div class="border-input">
                    <input name="position_name" type="text">
                </div>
                <div class="submit">
                    <button type="submit">เพิ่ม</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal <%= alert %>" id="alert">
    <div class="modal-box">
            <div class="request-doc" id="request-doc">
                <div class="border-input">
                    <input class="<%= status %>" name="position_name" type="text" value="<%= error %>" readonly>
                </div>
                <div class="submit">
                    <button id="ok" type="submit">ตกลง</button>
                </div>
            </div>
    </div>
</div>
<main>
    <div class="main">
        <div class="header-main">
            <h2>สถานประกอบการฝึกงาน</h2>
                <!-- <div class="sort">
                    <select>
                        <option selected value="0">จัดเรียงตาม</option>
                        <option value="1">ชื่อ</option>
                        <option value="2">สถานที่ฝึกงาน</option>
                        <option value="3">จังหวัด</option>
                    </select>
                </div> -->

            <div class="search">
                <input type="text" placeholder="ค้นหา" id="searching" oninput="filterTable()">
            </div>

            <div class="add-btn" id="add-btn">
                <a>เพิ่ม</a>
                <span class="material-icons-sharp">
                    domain_add
                </span>
            </div>

            <div class="add-btn pop-position" id="pop-position">
                <a>ตำแหน่ง</a>
                <span class="material-icons-sharp">
                    group_add
                </span>
            </div>
        </div>
        <div class="table">
            <table class="styled-table" id="styled-table">
                <thead>
                    <tr>
                        <!-- <th>ชื่อ</th> -->
                        <th>สถานประกอบการ</th>
                        <th>เบอร์โทรศัพท์ สถานประกอบการ</th>
                        <!-- <th>ประเภทธุรกิจ</th> -->
                        <th class="location">ที่อยู่</th>
                        <th>ตำแหน่งที่เคยรับ</th>
                        <th></th>
                    </tr>
                    <% if (all_companies.length == 0) { %>
                        <tr class="no-data">
                           <th colspan="8">
                               ไม่มีข้อมูล
                           </th>
                       </tr>
                       <% } %>
                    <tr class="no-data close" id="search-not-found">
                        <th colspan="8">
                            ไม่มีข้อมูล
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% all_companies.forEach((element,index) => { %>
                     <tr>
                        <td><%= element.name %></td>
                        <td><%= element.tel %></td>
                        <!-- <td>บัญชี / ผู้ตรวจบัญชี</td> -->
                        <td class="location"><%= element.address %></td>
                        <td class="position">
                            
                            <% if (all_position[index]) { %>
                                <% all_position[index].forEach(element2 => { %>
                                <div class="backend">
                                <%= element2 %>
                                </div>
                                <% }) %>
                            <% } %>
                            
                        </td>
                        <td>
                            <a href="/all-companys/<%= element._id %>">
                                <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                            </a>
                            
                        </td>
                    </tr>
                    <% }) %>
                    

                    <!-- <tr>
                        <td>บริษัท เบทเตอร์ ยูนิค แอคเค้าติ้ง จำกัด</td>
                        <td>09876543210</td>
                        <td>บัญชี / ผู้ตรวจบัญชี</td>
                        <td class="location">10/125 ซอยนวมินทร์ 93 ถนนนวมินทร์ แขวงนวมินทร์ เขตบึงกุ่ม กทม.10240
                            บึงกุ่ม, กรุงเทพมหานคร</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>บริษัท บูลยเกียรติ จำกัด</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Internships Recruitment (Thailand) Company Limited</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>บริษัท บูลยเกียรติ จำกัด</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr> -->

                </tbody>
            </table>
        </div>

        <div class="paginator">

            <% for( let index=1; index <=all_pages2; index++ ) { %>
                <% if (index==current2) { %>
                    <a href="?page2=<%= index %>" class="current-page">
                        <%= index %>
                    </a>
                    <% } else { %>
                        <a href="?page2=<%= index %>">
                            <%= index %>
                        </a>
                        <% } %>
                            <% } %>
            
                    </div>

    </div>
</main>