<div class="modal-back <%= alert %>" id="modal-back">
</div>
<div class="modal <%= alert %>" id="alert">
    <div class="modal-box">
        <div class="request-doc" id="request-doc">
            <div class="border-input">
                <input class="success" name="position_name" type="text" value="<%= err %>"
                    readonly>
            </div>
            <div class="submit">
                <a href="/upload-news">
                    <button id="ok" type="submit">ตกลง</button>
                </a>
            </div>
        </div>
    </div>
</div>  
<main>
    <div class="main">
        <div class="request-doc">
            <form id="newsForm" method="POST" action="/news/update/<%= news._id %>">
                <div class="datas">
                    <h1>ข่าวสาร</h1>
                </div>
                <div class="datas">
                    <h2>ชื่อเรื่องข่าวสาร</h2>
                    <input type="text" placeholder="ชื่อเรื่องข่าวสาร" value="<%= news.title %>" name="title" required>
                </div>
                <div class="datas long">
                    <h2>คำอธิบาย</h2>
                    <div class="editor">
                        <div id="editor">
                            <%- news.body  %>
                        </div>
                    </div>
                    <input id="details" class="close" type="text" name="details">
                </div>
                <% if (news.downloadDoc) { %>
                    <div class="datas last">
                        <% } else { %>
                            <div class="datas">
                                <% } %>

                                    <% if (news.downloadDoc) { %>

                                        <h2>เอกสารเดิม</h2>
                                        <input type="text" value="<%= news.downloadDoc %>" name="doc" required>
                                        <% } %>

                            </div>
                            <div class="datas">
                                <% if (news.downloadDoc) { %>
                                    <h2>เปลี่ยนเอกสาร<p>(pdf, png, jpeg)</p>
                                    </h2>
                                    <% } else { %>
                                        <h2>เพิ่มเอกสาร<p>(pdf, png, jpeg)</p>
                                        </h2>
                                        <% } %>

                                            <div class="border-uploads">
                                                <input type="file" name="file">
                                            </div>
                            </div>
                            <input type="text" class="close">
                            <div class="submit">
                                <button type="submit">อัพเดท</button></a>                              
                                <a id="deleteLink" class="btn danger">ลบ</a>
                            </div>
            </form>
            <form id="deleteForm" action="/news/delete/<%= news._id %>" method="POST" style="display: none;">

            </form>

        </div>
    </div>
</main>