<!-- MODAL -->
<div class="modal-back <%= modal_bg1 %>" id="modal-back">
</div>
<div class="modal-back <%= modal_bg2 %>" id="modal-alert">
</div>

<!-- END MODAL -->
<main>
    <div class="main">
        <div class="header-main">
            <h2>คำร้องล่าสุด</h2>
            <div class="search">
                <input type="text" placeholder="ค้นหา" id="searching" oninput="filterTable()">
            </div>
        </div>
        <div class="table">
            <table class="styled-table" id="styled-table">
            <thead>
                <tr>
                    <th>วันที่ยื่นเรื่อง</th>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อนักศึกษา</th>
                    <th>ตำแหน่ง</th>
                    <th>หน่วยงาน/บริษัท</th>
                    <th>การอนุมัติ</th>
                    <th>เพิ่มเติม</th>
                </tr>
                <% if (requests.length == 0) { %>
                    <tr class="no-data">
                       <th colspan="8">
                           ไม่มีข้อมูล
                       </th>
                   </tr>
                   <% } %>
            </thead>
            <tbody>
                <div class="modal <%= alert %>" id="alert">
                        <div class="modal-box">
                                <div class="request-doc" id="request-doc">
                                    <div class="border-input">
                                        <input class="success" name="position_name" type="text" value="<%= error %>" readonly>
                                    </div>
                                    <div class="submit">
                                        <button id="ok" type="submit">ตกลง</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                <% requests.forEach((element,index)=> { %>
                    
                        <% if (current_req === element._id.toString()) { %>
                            <div class="modal <%= modal1 %>" id="modal<%= index %>">
                        <% } else { %>
                            <div class="modal close" id="modal<%= index %>">
                        <% } %>
                        
                                        <form action="/request-teacher/update" method="post" name="request"
                                            enctype="/submit-table">
                                            <div class="modal-box">
                                                <% if (element.student_info.status == '1' || element.student_info.status == '2') { %>
                                                    <div class="request-info active" id="request-info<%= index %>">
                                                <% } else { %>
                                                    <div class="request-info" id="request-info<%= index %>">
                                                <% } %>
                                                    <div class="topic">
                                                        <h2>ข้อมูลนักศึกษา</h2><h2>ชื่อ: <%= element.student_info.name %> รหัส: <%= element.student_info.student_code %></h2>
                                                        <% if (element.student_info.status == '0') { %>
                                                            <span class="material-icons-sharp warnning">pending</span>
                                                        <% } else if (element.student_info.status == '1') { %>
                                                            <span class="material-icons-sharp success">check_circle</span>
                                                        <% } else if (element.student_info.status == '2') { %>
                                                            <span class="material-icons-sharp danger">cancel</span>
                                                        <% } %>
                                                        <span class="material-icons-sharp expand_more"
                                                            id="expand_more<%= index %>">expand_more</span>
                                                    </div>
                                                    <div class="contents">
                                                        <div class="images-content">
                                                            <div class="images-area">
                                                                <img src="/uploads/<%= element.student_info.image %>"
                                                                    alt="image profile">
                                                            </div>
                                                        </div>
                                                        <div class="infomation">
                                                            <div class="datas">
                                                                <a>ชื่อ-นามสกุล</a>
                                                                <input type="text" placeholder="ชื่อ-นามสกุล"
                                                                    name="name"
                                                                    value="<%= element.student_info.name %>">
                                                            </div>
                                                            <div class="datas">
                                                                <a>รหัสประจำตัว</a>
                                                                <input type="text" placeholder="รหัสประจำตัว"
                                                                    oninput="formatID(this)" maxlength="10"
                                                                    name="student_code"
                                                                    value="<%= element.student_info.student_code %>">
                                                                <p></p>
                                                            </div>
                                                            <div class="datas">
                                                                <a>ระดับการศึกษา</a>
                                                                <!-- <input type="text" placeholder="ระดับการศึกษา" name="education"
                                                value="ปริญญาตรี ชั้นปีที่ <%= element.student_info.education %>" > -->
                                                                <div class="border-uploads">
                                                                    <select name="education" required>

                                                                        <% for( let index=1; index <=4; index++ ) { %>
                                                                            <% if
                                                                                (element.student_info.education==index)
                                                                                { %>
                                                                                <option selected value="<%= index %>">
                                                                                    ชั้นปีที่ <%= index %>
                                                                                </option>
                                                                                <% } else { %>
                                                                                    <option value="<%= index %>">
                                                                                        ชั้นปีที่ <%= index %>
                                                                                    </option>
                                                                                    <% } %>
                                                                                        <% } %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="datas">
                                                                <a>คณะ</a>
                                                                <input type="text" placeholder="คณะ"
                                                                    value="วิทยาลัยการคอมพิวเตอร์">
                                                            </div>
                                                            <div class="datas">
                                                                <a>หลักสูตร</a>
                                                                <div class="border-uploads">
                                                                    <select name="factory" required>

                                                                        <% for( let index=1; index <=2; index++ ) { %>
                                                                            <% if (element.student_info.factory==index
                                                                                && index==1) { %>
                                                                                <option selected value="<%= index %>">
                                                                                    วิทยาการคอมพิวเตอร์ ภาคปกติ</option>
                                                                                <% } else if
                                                                                    (element.student_info.factory==index
                                                                                    && index==2){ %>
                                                                                    <option selected
                                                                                        value="<%= index %>">
                                                                                        วิทยาการคอมพิวเตอร์ ภาคพิเศษ
                                                                                    </option>
                                                                                    <% } %>
                                                                                        <% if
                                                                                            (element.student_info.factory
                                                                                            !=index && index==1) { %>
                                                                                            <option
                                                                                                value="<%= index %>">
                                                                                                วิทยาการคอมพิวเตอร์
                                                                                                ภาคปกติ</option>
                                                                                            <% } else if
                                                                                                (element.student_info.factory
                                                                                                !=index && index==2){ %>
                                                                                                <option
                                                                                                    value="<%= index %>">
                                                                                                    วิทยาการคอมพิวเตอร์
                                                                                                    ภาคพิเศษ</option>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                            <div class="datas">
                                                                <a>เกรดเฉลี่ยสะสม</a>
                                                                <input type="text" placeholder="เกรดเฉลี่ยสะสม"
                                                                    oninput="formatGPA(this)" maxlength="4" name="grade"
                                                                    value="<%= element.student_info.grade.toFixed(2) %>">
                                                                <p></p>
                                                            </div>
                                                            <div class="datas">
                                                                <a>อีเมล</a>
                                                                <input type="email" placeholder="อีเมล" name="email"
                                                                    value="<%= element.student_info.email %>">
                                                                <p></p>
                                                            </div>
                                                            <div class="datas">
                                                                <a>หมายเลขโทรศัพท์</a>
                                                                <input type="text" placeholder="หมายเลขโทรศัพท์"
                                                                    name="tel" oninput="formatTEL(this)" maxlength="11"
                                                                    value="<%= element.student_info.phone %>">
                                                                <p id="telError"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="approved">
                                                        <div class="comment">
                                                            <h3>comments</h3>
                                                            <textarea name="comment1" id="" cols="30"
                                                                rows="10"><%= element.student_info.comment %></textarea>
                                                        </div>
                                                        <div class="status">
                                                            <div class="border-status">
                                                                <select name="status1" required>
                                                                    <% for( let index=0; index <=2; index++ ) { %>
                                                                        <% if (element.student_info.status==index &&
                                                                            index==0) { %>
                                                                            <option selected disabled
                                                                                value="<%= index %>">รอดำเนินการ
                                                                            </option>
                                                                            <% } else if
                                                                                (element.student_info.status==index &&
                                                                                index==1) { %>
                                                                                <option selected value="<%= index %>">
                                                                                    ผ่าน</option>
                                                                                <% } else if
                                                                                    (element.student_info.status==index
                                                                                    && index==2){ %>
                                                                                    <option selected
                                                                                        value="<%= index %>">ไม่ผ่าน
                                                                                    </option>
                                                                                    <% } %>

                                                                                        <% if
                                                                                            (element.student_info.status
                                                                                            !=index && index==0) { %>
                                                                                            <option disabled
                                                                                                value="<%= index %>">
                                                                                                รอดำเนินการ</option>
                                                                                            <% } else if
                                                                                                (element.student_info.status
                                                                                                !=index && index==1) {
                                                                                                %>
                                                                                                <option
                                                                                                    value="<%= index %>">
                                                                                                    ผ่าน</option>
                                                                                                <% } else if
                                                                                                    (element.student_info.status
                                                                                                    !=index &&
                                                                                                    index==2){ %>
                                                                                                    <option
                                                                                                        value="<%= index %>">
                                                                                                        ไม่ผ่าน</option>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <% if (element.company_info.status == '1' || element.company_info.status == '2') { %>
                                                    <div class="request-doc active" id="request-Doc<%= index %>">
                                                <% } else { %>
                                                    <div class="request-doc" id="request-Doc<%= index %>">
                                                <% } %>
                                                    <div class="topic">
                                                        <h2>รายละเอียดบริษัท/หน่วยงาน</h2>
                                                        <h2><%= element.company_info.company.name %></h2>
                                                        <% if (element.company_info.status == '0') { %>
                                                            <span class="material-icons-sharp warnning">pending</span>
                                                        <% } else if (element.company_info.status == '1') { %>
                                                            <span class="material-icons-sharp success">check_circle</span>
                                                        <% } else if (element.company_info.status == '2') { %>
                                                            <span class="material-icons-sharp danger">cancel</span>
                                                        <% } %>

                                                        <span class="material-icons-sharp expand_more2"
                                                            id="expand_more2<%= index %>">expand_more</span>
                                                    </div>
                                                    <div class="info-intern">
                                                        <div class="uploads-content">
                                                            <a >ชื่อสถาที่ฝึกงาน</a>
                                                            <div class="border-input <%= com_add[index] %>">
                                                                <input type="text" class="<%= com_add[index] %>"
                                                                    value="<%= element.company_info.company.name %>">
                                                                <a href="/request-teacher/company-add?req=<%= element._id %>" class="add-com" id="new-company">เพิ่ม<span class="material-icons-sharp">add</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >ตำแหน่ง</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.position %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >โปรดระบุด้วยว่าหนังสือเรียนถึงใคร</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.receiver_name %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >เบอร์โทรศัพท์</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.tel %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >บริษัท/หน่วยงานเกี่ยวข้องกับด้านใด</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.type_business %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >ช่วงเวลาที่ฝึกงาน</a>
                                                            <div class="border-input2">
                                                                <input type="date" name="start_intern"
                                                                    value="<%= element.company_info.start_intern.toISOString().split('T')[0] %>">
                                                                <h3>ถึง</h3>
                                                                <input type="date" name="end_intern"
                                                                    value="<%= element.company_info.end_intern.toISOString().split('T')[0] %>">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="topic">
                                                        <h2 class="sub-txt">ที่อยู่บริษัท/หน่วยงาน</h2>
                                                    </div>
                                                    <div class="info-address">
                                                        <div class="uploads-content">
                                                            <a >ที่อยู่</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.name %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >บริษัท/หน่วยงาน</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.name %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >ตำบล</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.subdistrict %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >อำเภอ</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.district %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >จังหวัด</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.province %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >รหัสไปรษณีย์</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.company.provinceID %>">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="info-phone">
                                                        <div class="uploads-content">
                                                            <a >กําหนดการส่งเอกสารของทางบริษัท/หน่วยงาน</a>
                                                            <div class="border-input">
                                                                <input type="date"
                                                                    value="<%= element.company_info.end_intern.toISOString().split('T')[0] %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >สิทธิการรักษาพยาบาล/บัตรทอง</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.student_info.health_coverage %>">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="topic">
                                                        <h2 class="sub-txt">ผู้ประสานงาน/พี่เลี้ยง</h2>
                                                    </div>

                                                    <div class="info-phone">
                                                        <div class="uploads-content">
                                                            <a >ชื่อ ผู้ประสานงาน/พี่เลี้ยง</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.mentor %>">
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >เบอร์โทรศัพท์</a>
                                                            <div class="border-input">
                                                                <input type="text"
                                                                    value="<%= element.company_info.tel_mentor %>">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="approved">
                                                        <div class="comment">
                                                            <h3>comments</h3>
                                                            <textarea name="comment2" id="" cols="30"
                                                                rows="10"><%= element.company_info.comment %></textarea>
                                                        </div>
                                                        <div class="status">
                                                            <div class="border-status">
                                                                <select name="status2" required>
                                                                    <% for( let index=0; index <=2; index++ ) { %>
                                                                        <% if ((element.company_info.status==index &&
                                                                            index==0)) { %>
                                                                            <option selected disabled
                                                                                value="<%= index %>">รอดำเนินการ
                                                                            </option>
                                                                            <% } else if
                                                                                (element.company_info.status==index &&
                                                                                index==1) { %>
                                                                                <option selected value="<%= index %>">
                                                                                    ผ่าน</option>
                                                                                <% } else if
                                                                                    (element.company_info.status==index
                                                                                    && index==2){ %>
                                                                                    <option selected
                                                                                        value="<%= index %>">ไม่ผ่าน
                                                                                    </option>
                                                                                    <% } %>

                                                                                        <% if
                                                                                            (element.company_info.status
                                                                                            !=index && index==0) { %>
                                                                                            <option disabled
                                                                                                value="<%= index %>">
                                                                                                รอดำเนินการ</option>
                                                                                            <% } else if
                                                                                                (element.company_info.status
                                                                                                !=index && index==1) {
                                                                                                %>
                                                                                                <option
                                                                                                    value="<%= index %>">
                                                                                                    ผ่าน</option>
                                                                                                <% } else if
                                                                                                    (element.company_info.status
                                                                                                    !=index &&
                                                                                                    index==2){ %>
                                                                                                    <option
                                                                                                        value="<%= index %>">
                                                                                                        ไม่ผ่าน</option>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>

                                                <% if (element.request_info.status == '1' || element.request_info.status == '2') { %>
                                                    <div class="request-cer active" id="request-cer<%= index %>">
                                                <% } else { %>
                                                    <div class="request-cer" id="request-cer<%= index %>">
                                                <% } %>
                                                    <div class="topic">
                                                        <h2>อัพโหลดเอกสาร</h2>
                                                        <% if (element.request_info.status == '0') { %>
                                                            <span class="material-icons-sharp warnning">pending</span>
                                                        <% } else if (element.request_info.status == '1') { %>
                                                            <span class="material-icons-sharp success">check_circle</span>
                                                        <% } else if (element.request_info.status == '2') { %>
                                                            <span class="material-icons-sharp danger">cancel</span>
                                                        <% } %>
                                                        <span class="material-icons-sharp expand_more3"
                                                            id="expand_more3<%= index %>">expand_more</span>

                                                    </div>
                                                    <div class="uploads-section">
                                                        <div class="uploads-content">
                                                            <a >เอกสารยื่นใบฝึกงาน</a>
                                                            <!-- upload/2024-01-07T05-15-23.435Z-DIP_LAB2.pdf -->
                                                            <div class="border-uploads">
                                                                <a class="links border-space"
                                                                    href="/uploads/<%= element.request_info.doc_request_intern %>"
                                                                    target="_blank">
                                                                    <%= element.request_info.doc_request_intern %>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >หนังสือยินยอมผู้ปกครอง</a>
                                                            <div class="border-uploads">
                                                                <a class="links border-space"
                                                                    href="/uploads/<%= element.request_info.doc_approve_parrent %>"
                                                                    target="_blank">
                                                                    <%= element.request_info.doc_approve_parrent %>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >resume นักศึกษา</a>
                                                            <div class="border-uploads">
                                                                <a href="/uploads/<%= element.request_info.doc_resume %>" 
                                                                    target="_blank" name="test" class="links border-space">
                                                                    <%= element.request_info.doc_resume %>
                                                                </a>

                                                            </div>
                                                        </div>

                                                        <div class="uploads-content">
                                                            <a >transcript</a>
                                                            <div class="border-uploads">
                                                                <a class="links border-space"
                                                                    href="/uploads/<%= element.request_info.doc_transcript %>"
                                                                    target="_blank">
                                                                    <%= element.request_info.doc_transcript %>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="uploads-content">
                                                            <a >หนังสือขอความอนุเคราะห์จากบริษัท</a>

                                                            <div class="border-uploads">
                                                                <select name="doc_approve_company" required>
                                                                    <% for( let index=1; index <=2; index++ ) { %>
                                                                        <% if
                                                                            (element.request_info.doc_approve_company==index
                                                                            && index==1) { %>
                                                                            <option selected value="<%= index %>">
                                                                                เจ้าหน้าที่จัดส่งให้</option>
                                                                            <% } else if
                                                                                (element.request_info.doc_approve_company==index
                                                                                && index==2){ %>
                                                                                <option selected value="<%= index %>">
                                                                                    มารับไปส่งเอง</option>
                                                                                <% } %>
                                                                                    <% if
                                                                                        (element.request_info.doc_approve_company
                                                                                        !=index && index==1) { %>
                                                                                        <option value="<%= index %>">
                                                                                            เจ้าหน้าที่จัดส่งให้
                                                                                        </option>
                                                                                        <% } else if
                                                                                            (element.request_info.doc_approve_company
                                                                                            !=index && index==2){ %>
                                                                                            <option
                                                                                                value="<%= index %>">
                                                                                                มารับไปส่งเอง</option>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="uploads-content">
                                                            <a >รูปแบบการฝึกงาน</a>
                                                            <div class="border-uploads">
                                                                <% if (element.request_info.working_style==1) { %>
                                                                    <a class="border-space">Onsite</a>
                                                                    <% } else if (element.request_info.working_style==2)
                                                                        { %>
                                                                        <a class="border-space">Work form home</a>
                                                                        <% } else if
                                                                            (element.request_info.working_style==3) { %>
                                                                            <a class="border-space">Hybrid</a>
                                                                            <% } else { %>
                                                                                <a class="border-space"></a>
                                                                                <% } %>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="approved">
                                                        <div class="comment">
                                                            <h3>comments</h3>
                                                            <textarea name="comment3" id="" cols="30"
                                                                rows="10"><%= element.request_info.comment %></textarea>
                                                        </div>
                                                        <div class="status">
                                                            <div class="border-status">
                                                                <select name="status3" required>
                                                                    <% for( let index=0; index <=2; index++ ) { %>
                                                                        <% if (element.request_info.status==index &&
                                                                            index==0) { %>
                                                                            <option selected disabled
                                                                                value="<%= index %>">รอดำเนินการ
                                                                            </option>
                                                                            <% } else if
                                                                                (element.request_info.status==index &&
                                                                                index==1) { %>
                                                                                <option selected value="<%= index %>">
                                                                                    ผ่าน</option>
                                                                                <% } else if
                                                                                    (element.request_info.status==index
                                                                                    && index==2){ %>
                                                                                    <option selected
                                                                                        value="<%= index %>">ไม่ผ่าน
                                                                                    </option>
                                                                                    <% } %>

                                                                                        <% if
                                                                                            (element.request_info.status
                                                                                            !=index && index==0) { %>
                                                                                            <option disabled
                                                                                                value="<%= index %>">
                                                                                                รอดำเนินการ</option>
                                                                                            <% } else if
                                                                                                (element.request_info.status
                                                                                                !=index && index==1) {
                                                                                                %>
                                                                                                <option
                                                                                                    value="<%= index %>">
                                                                                                    ผ่าน</option>
                                                                                                <% } else if
                                                                                                    (element.request_info.status
                                                                                                    !=index &&
                                                                                                    index==2){ %>
                                                                                                    <option
                                                                                                        value="<%= index %>">
                                                                                                        ไม่ผ่าน</option>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit">
                                                    <button type="submit">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                                <tr>
                                    <td>
                                        <%= new Date(element.update_at).toLocaleString('th-TH', { year: 'numeric', month: 'numeric', day: 'numeric' }); %>
                                    </td>
                                    <td>
                                        <%= element.student_info.student_code %>
                                    </td>
                                    <td>
                                        <%= element.student_info.name %>
                                    </td>
                                    <td>
                                        <%= element.company_info.position %>
                                    </td>
                                    <td>
                                        <%= element.company_info.company.name %>
                                    </td>

                                    <td class="midle">
                                        <% if (element.status == '1') { %>
                                                <% if (element.approval_document_status == '0') { %>
                                                    <div class="status-approve pendding">
                                                        <a>รอหนังสือขอความอนุเคราะห์
                                                <% } else if (element.approval_document_status == '1') { %>
                                                    <% if (element.accepted_company_status == '0') { %>
                                                        <div class="status-approve pendding">
                                                        <a>รอหนังสือตอบรับ
                                                    <% } else if (element.accepted_company_status == '1') { %>
                                                            <% if (element.sended_company_status == '0') { %>
                                                                <div class="status-approve pendding">
                                                                <a>รอหนังสือส่งตัว
                                                            <% } else if (element.sended_company_status == '1') { %>

                                                                <% if (element.certificate_info.status == '0') { %>
                                                                    <div class="status-approve cp">
                                                                    <a>กำลังฝึกงาน
                                                                    <% } else if (element.certificate_info.status == '1') { %>
                                                                    <div class="status-approve success">
                                                                    <a>ผ่านการฝึกงาน
                                                                    <% } else if (element.certificate_info.status == '1') { %>
                                                                    <div class="status-approve danger">
                                                                    <a>ไม่ผ่านการฝึกงาน
                                                                    <% } %>  
                                                                
                                                            <% } else if (element.sended_company_status == '2') { %>
                                                                <div class="status-approve danger">
                                                                <a>ปฏิเสธการส่งตัว
                                                            <% } %>  

                                                    <% } else if (element.accepted_company_status == '2') { %>
                                                        <div class="status-approve danger">
                                                        <a>ปฏิเสธการตอบรับ
                                                    <% } %>  
                                                <% } else if (element.approval_document_status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>ปฏิเสธการออกหนังสือ
                                                <% } %>  
                                            <% } else if (element.status == '0') { %>
                                                <% if (element.student_info.status == '0') { %>
                                                    <div class="status-approve pendding">
                                                        <a>รอตรวจสอบข้อมูลนักศึกษา
                                                <% } else if (element.student_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>ข้อมูลนักศึกษาไม่ถูกต้อง
                                                <% } else if (element.company_info.status == '0') { %>
                                                    <div class="status-approve pendding">
                                                        <a>รอตรวจสอบข้อมูลสถานประกอบการ
                                                <% } else if (element.company_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>ข้อมูลสถานประกอบการไม่ถูกต้อง 
                                                <% } else if (element.request_info.status == '0') { %>
                                                    <div class="status-approve pendding">
                                                        <a>รอตรวจสอบเอกสารยื่นเรื่อง
                                                <% } else if (element.request_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>เอกสารยื่นเรื่องไม่อนุมัติ         
                                                <% } %>
                                                <% } else if (element.status == '2') { %>
                                                    <% if (element.student_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>ข้อมูลนักศึกษาไม่ถูกต้อง
                                                <% } else if (element.company_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>ข้อมูลสถานประกอบการไม่ถูกต้อง 
                                                <% } else if (element.request_info.status == '2') { %>
                                                    <div class="status-approve danger">
                                                        <a>เอกสารยื่นเรื่องไม่อนุมัติ         
                                                <% } %>
                                            <% } %>    
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn">...</button>
                                            <div class="dropdown-content">
                                                <a href="#" class="request-details" id="request-details"
                                                    name="<%= index %>">รายระเอียดคำร้องขอฝึกงาน</a>
                                                <a href="#" id="doc-request">เอกสารยื่นคำร้องขอฝึกงาน</a>
                                                <!-- <a href="#">เอกสารรับรองการสำเร็จการฝึกงาน</a>
                                <a href="#">บันทึกการฝึกงานและการประเมิน</a> -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
            
            </tbody>
        </table>
        </div>
        <div class="paginator">

<% for( let index=1; index <=all_pages; index++ ) { %>
    <% if (index==current) { %>
        <a href="?page=<%= index %>" class="current-page">
            <%= index %>
        </a>
        <% } else { %>
            <a href="?page=<%= index %>">
                <%= index %>
            </a>
            <% } %>
                <% } %>

        </div>
    </div>
</main>