<div class="modal-back <%= alert %>" id="modal-back">
</div>
<div class="modal-back close" id="modal-back2">
</div>
<div class="modal <%= alert %>" id="alert">
    <div class="modal-box">
        <div class="request-doc" id="request-doc">
            <div class="border-input">
                <input class="success" name="position_name" type="text" value="<%= err %>"
                    readonly>
            </div>
            <div class="submit">
                <a href="/account?sort=<%= sort %>">
                    <button id="ok" type="submit">ตกลง</button>
                </a>
            </div>
        </div>
    </div>
</div>  
<form method="POST" action="/account/add_by_excel?sort=<%= sort %>" enctype="multipart/form-data">
<div class="modal close" id="modal3">
    <div class="modal-box">
        
        <div class="datas">
            <h2>ไฟล์ตัวอย่าง<p>(xlsx)  </p></h2>
            <a href="/uploads/official/add_user.xlsx" class="links border-space" target="_blank">
                เอกสารตัวอย่าง.xlsx
            </a>
        </div>
        <div class="datas">
            <h2>ไฟล์ (xlsx)</h2>
            <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
        </div>
        
        <div class="submit">
            <button type="submit">สร้าง</button>
        </div>

    </div>
</div>
</form>

<form action="/account/add" method="post" name="request">

    <div class="modal close" id="modal">
        <div class="modal-box">
            <div class="datas">
                <h1>สร้างรหัสผู้ใช้</h1>
            </div>
            <div class="datas">
                <h2>อีเมล</h2>
                <input type="text" placeholder="อีเมล" name="username" required>
            </div>
            <div class="datas">
                <h2>รหัสผ่าน</h2>
                <input type="password" placeholder="รหัสผ่าน" name="password" required>
            </div>
            <div class="datas selection-user">
                <div class="sort">
                <select id="sort" name="role">
                    <option disabled value="0">ผู้ใช้</option>
                    <option selected value="1">นักศึกษา</option>
                    <option value="2">เจ้าหน้าที่</option>
                </select>
            </div>
            
            </div>
            <div class="datas">
                <h2>ชื่อนาม-สกุล</h2>
                <input type="text" placeholder="ชื่อนาม-สกุล" name="name" required>
            </div>
            <div class="datas close" id="stdid2">
                <h2>รหัสนักศึกษา</h2>
                <input type="text" id="dump" placeholder="รหัสนักศึกษา" name="std_id" required>
            </div>
            
            <div class="submit">
                <button type="submit">สร้าง</button>
            </div>

        </div>
    </div>
</form>

<main>
    <div class="main">
        <div class="header-main">
            <h2>การจัดการรหัสผู้ใช้งาน</h2>
            <div class="sort">
                <select id="sort" onchange="handleSortChange(this)">
                    <% if (sort == '1') { %>
                        <option selected value="1">นักศึกษา</option>
                    <% } else { %>
                        <option value="1">นักศึกษา</option>
                    <% } %>
                    <% if (sort == '2') { %>
                        <option selected value="2">เจ้าหน้าที่</option>
                    <% } else { %>
                        <option value="2">เจ้าหน้าที่</option>
                    <% } %>

                </select>
            </div>
            
            <div class="search">
                <input type="text" placeholder="ค้นหา" id="searching" oninput="filterTable()">
            </div>

            <div class="add-btn" id="add-user">
                <a>เพิ่มผู้ใช้</a>
                <span class="material-icons-sharp">
                        post_add
                </span>
            </div>

            <div class="add-btn success" id="add-approval-docs">
                <a>สร้างผู้ใช้จากไฟล์</a>
                <span class="material-icons-sharp">
                    upload_file
                </span>
            </div>
        </div>
        <div class="table">
            <table class="styled-table" id="styled-table">
                <thead>
                    <tr>
                        <th class="on-left">รหัสนักศึกษา</th>
                        <th class="on-left">รหัสผู้ใช้</th>
                        <th class="on-left">ชื่อ</th>
                        <th class="last"></th>
                        
                    </tr>

                    <% if (users.length == 0) { %>
                        <tr class="no-data">
                           <th colspan="8">
                               ไม่มีข้อมูล
                           </th>
                       </tr>
                       <% } %>
                       <tr class="no-data close" id="search-not-found">
                        <th colspan="8">
                            ไม่มีข้อมูล
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <% users.forEach((user,index) => { %>
                        <form action="/account/update/<%= user._id %>" method="post" name="request">
                            <div class="modal close" id="modal2<%= index %>">                
                            <div class="modal-box">
                                <div class="datas">
                                    <h1>สร้างรหัสผู้ใช้</h1>
                                </div>
                                <div class="datas">
                                    <h2>อีเมล</h2>
                                    <input type="text" placeholder="อีเมล" name="username" value="<%= user.username %>" required>
                                </div>
                                <div class="datas">
                                    <h2>รหัสผ่าน</h2>
                                    <input type="password" placeholder="รหัสผ่าน" name="password" value="<%= user.password %>" required>
                                </div>
                                <div class="datas selection-user">
                                    <div class="sort">
                                    <select id="sort" name="role">
                                        <% if (user.role == 'student') { %>
                                         <option selected value="1">นักศึกษา</option>
                                         <option value="2">เจ้าหน้าที่</option>
                                        <% } else { %>
                                            <option value="1">นักศึกษา</option>
                                            <option selected value="2">เจ้าหน้าที่</option>
                                        <% } %>
                                    </select>
                                </div>
                                
                                </div>
                                <div class="datas">
                                    <h2>ชื่อนาม-สกุล</h2>
                                        <input type="text" placeholder="ชื่อนาม-สกุล" value="<%= user.student_info.name %>" name="name" required>
                                </div>
                                    <div class="datas" >
                                        <% if (user.role == 'student') { %>
                                         <h2>รหัสนักศึกษา</h2>
                                        <input type="text" value="<%= user.student_info.student_code %>" placeholder="รหัสนักศึกษา" name="std_id">
                                        <% } %>
                                    
                                </div>
                                
                                
                                <div class="submit">
                                    <button type="submit">อัปเดต</button>
                                    <a id="deleteLink" name="<%= index %>" class="btn danger">ลบ</a>

                                </div>
                    
                            </div>
                        </div>
                        </form>
                        <form id="deleteForm<%= index %>" action="/account/delete/<%= user._id %>?sort=<%= sort %>" method="POST" style="display: none;">
                        </form>
                      <tr>

                         <td class="on-left"><%= user.student_info.student_code%></td>
                           <td class="on-left"><%= user.username %></td>
                           <!-- <td>บัญชี / ผู้ตรวจบัญชี</td> -->
                           <td class="on-left"><%= user.student_info.name %></td>
                           <!-- <td class="position">
                               <div class="backend danger">
                                test
                                </div>
                           </td> -->
                           <td class="last">
                            <a name="<%= index %>" class="pop">
                                <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                            </a>
                            
                        </td>
                           
                       </tr>
                
                    <% }) %>
                </tbody>       
            </table>
        </div>

        <div class="paginator">

<% for( let index=1; index <=all_pages[sort-1]; index++ ) { %>
    <% if (index==current) { %>
        <a href="?sort=<%= sort %>&page=<%= index %>" class="current-page">
            <%= index %>
        </a>
        <% } else { %>
            <a href="?sort=<%= sort %>&page=<%= index %>">
                <%= index %>
            </a>
            <% } %>
                <% } %>

</div>

    </div>
</main>